		body {font-family:Verdana,Arial,Tahoma,sans-serif; padding:0px; margin:0px}

		#applicationTabs {width:100%; background:#999999;height:22px;border-top: solid 20px #999999}
		#applicationTabs ul {font-size:small;text-align:right;margin:0px;padding:0px}
		#applicationTabs li {background:#cccccc;padding:5px;display:inline;margin-right:10px}
		#applicationTabs li a {text-decoration:none; color:black}
		#applicationTabs li.currentTab {background:#ffffff;}

		.credits {border-top: solid 1px #cccccc;padding:10px 1%;font-size:small;margin:100px 0px 0px 0px}
		h2 {color:#667766;margin:30px 0px;font-size:medium;border-bottom: solid 1px #ccffcc; }
		h3 {color:#667766;margin:30px 30px;font-size:small;border-bottom: solid 1px #ccffcc; }

		#content {margin:30px 0px 0px 6%}
		#adminContent {margin:30px 6%}
		#adminContent p {margin-left:20px}

		#uploadBox {margin-left:5%}

		.textbox {width:6em;border-color:#666;border-width:1px;padding:2px;}

		#upload {background:#eeeeee;width:19em;margin:30px 0px 20px;border:solid 2px #dddddd; -moz-border-radius:10px;}
		#upload form {padding-top:2px;}
		#upload legend {padding:5px 10px;background:#eeeeee;font-weight:bold;color:#666666; -moz-border-radius:10px;}
		#upload fieldset {border:none;background:#dddddd;margin-top:10px; -moz-border-radius:5px;}
		#upload fieldset legend {font-weight:bold;font-size:small;padding:0 10px;background:#dddddd; -moz-border-radius:5px;}
		#upload .widget, #upload .uploadWidget {width:15em;}

		#upload .buttonTray {text-align:center;padding:5px 0px 0px 0px;margin-top:0px;}
		#upload .submitButton {width:22em;background:#ffffcc;font-weight:bold; padding: 5px 15px; margin: 5px;}

		.autopipeline {background:#ffcccc;}
		.regularpipeline {background:#ffffff;}

		option.autopipeline, option.regularpipeline {width:16em;}

		.openofficeorg {display:inline;}

		.arrowLeft { font-size:70px;color:#99cc99;width:100px;padding-top:80px;text-align:right;}
		#noteToProgrammers {color:#006600;padding:30px 0px 0px 0px;width:200px }

		span.login {border:solid 1px #cccccc;background:#eeeeee;padding:5px;font-size:small}
		form.login {text-align:center;}

		.logout {float:right;border: solid 5px #ffffaa;margin-right:50px;}
		.logout input {background:#eeeedd;padding:5px}

		.docvertError
			{
			background:#ffeeee;
			border: solid 2px #eedddd;
			padding:10px 1% 0px 70px;
			margin-right:6%;
			}

			.docvertError h1
				{
				font-size:medium;
				}


		.logEntry {margin-left:7%;font-size:xx-small}

		.notWritableMessage { font-size:small;margin:15px 5px 5px 5px;padding:5px;background:#ffeeee;color:#ff3333}


		#convertedDocuments {width:98%;margin:0px 1%}
		h1.previewResults {color:#667766;font-weight:normal;font-size:x-large;margin-left:20px}
		#previewIFrame {width:100%;height:500px; border-top:none; border-right: solid 1px black; border-left: solid 1px black; border-bottom: solid 1px black}


		.downloadZip, .uploadResults
			{
			display:block;
			float:right;
			text-align:center;
			margin:0px 0px 0px 30px;
			color:#777777;
			width:100px;
			height:40px;
			font-weight:bold;
			text-decoration:none;
			padding: 5px 5px 100px 5px;
			-moz-border-radius:10px;
			border: solid 2px white;
			}

		.downloadZip:hover, .uploadResults:hover
			{
			color:#333333;
			}

		.downloadZip
			{
			background: white url("download-as-zip.png") scroll no-repeat center bottom;
			}

		.downloadZip:hover
			{
			background: #eeeeee url("download-as-zip.png") scroll no-repeat center bottom;
			border: solid 2px #cccccc;
			}

		.uploadResults
			{
			background: white url("up.png") scroll no-repeat center bottom;
			}

		.uploadResults:hover
			{
			background: #eeeeee url("up.png") scroll no-repeat center bottom;
			border: solid 2px #cccccc;
			}


		#uploadDialog
			{
			display:none;
			position:absolute;
			left:35%;
			background:#eeeeee;
			border: outset 2px #eeeeee;
			}

		#uploadDialog .title
			{
			background:#666666;
			color:white;
			font-weight:bold;
			}

		#uploadDialog .title td
			{	
			padding: 2px 2px 3px 10px;
			}

		.closeuploaddialog
			{
			font-size:small;
			font-weight:bold;
			background:#cccccc;
			border: 2px outset #ffffff;
			margin:2px;
			text-decoration:none;
			color:black;
			}

		.closeuploaddialog:active
			{
			border: 2px inset #ffffff;
			}

		#uploadDialog .leftColumn, #uploadDialog .rightColumn
			{
			padding: 5px 10px;
			font-size: small;
			}



		.backToSampleUse
			{
			background: white url("rewind.gif") no-repeat;
			padding:1px 0px 5px 20px; 
			color:#777777;
			font-size:x-small;
			}

		#tabs
			{
			font-size:small;
			line-height:normal;
			width:100%;
			background: url("bg.gif") repeat-x bottom right;
			margin-top:15px;
			float:left;
			}

		#tabs ul
			{
			margin:0px;
			padding:0px;
			list-style:none;
			width:100%;
			}

		#tabs li
			{
			float:left;
			background: url("left.gif") no-repeat left top;
			margin:0px;
			padding:0px 0px 0px 9px;
			}
		#tabs li a
			{
			display:block;
			background: url("right.gif") no-repeat right top;
			padding:5px 15px 4px 6px;
			text-decoration:none;
			font-weight:bold;
			color:#776655;
			}
			/* Commented Backslash Hack
			hides rule from IE5-Mac \*/
			#tabs a {float:none;}
			/* End IE5-Mac hack */
	
		#tabs li :hover
			{
			color:#333333;
			}
	
		#tabs li.current
			{
			background-image:url("left_on.gif");
			}
	
		#tabs li.current a
			{
			background-image:url("right_on.gif");
			color:#333333;
			padding-bottom:5px;
			}
	
		label
			{
			cursor: pointer;
			cursor: hand;
			}

		#uploadBox label
			{
			border: solid 1px #dddddd;
			display:block;
			}
		#uploadBox label:hover
			{
			background: #ffffff;
			}

		#uploadBox label:active
			{
			margin-top: 1px;
			border: inset 1px #eeeeee;
			background:#dddddd;
			}

		#advancedSettings label
			{
			border: solid 1px #eeeeee;
			}

			#advancedSettings label:active
				{
				margin-top: 1px;
				border: inset 1px #dddddd;
				background:#cccccc;
				}

		#breakUpOver label
			{
			font-size:small;
			}

		#breakUpOver label:hover
			{
			background: #eeeeee;
			}

		#breakUpOver label:active
			{
			background:#cccccc;
			}


		#otherstuff {margin-left:100px}
		#otherstuff a {font-size:xx-large;background:#ffffcc;color:#666600;border: solid 2px #cccc99;text-decoration:none; padding-left:20px; padding-right:20px; margin-right:5px}
		#otherstuff a:hover {border: solid 2px black;color:black;}


		#addNewUpload
			{
			margin:22px;
			}

			#addNewUpload table
				{
				border: solid 1px #cccccc;
				background: #f6f6f6;
				}

			#addNewUpload caption
				{
				background: #cccccc;
				font-weight:bold;
				color:#333333;
				padding: 3px 5px;
				text-align:left;
				font-size:small;
				}



			#addNewUpload select, #addNewUpload input
				{
				}

			#addNewUpload fieldset
				{
				background:#f9f9f9;
				border: solid 1px #dddddd;
				}

			#addNewUpload .hidden
				{
				color:#f9f9f9;
				}

		#existingUploads
			{
			margin-left:22px;
			}

			#existingUploads th
				{
				font-size: x-small;
				background:#cccccc;
				}

			#existingUploads td
				{
				font-size:small;
				}


		a.editContent
			{
			background:#f6f6f6;
			padding:2px 0.4em;
			-moz-border-radius:4px;
			border: solid 1px #eeeeee;
			color:#999999;
			text-decoration:none;
			}

		a.editContent:hover
			{
			background:#dddddd;
			color:#666666;
			text-decoration:underline;
			}



		#phpinfo
			{
			overflow:auto;
			height:500px;
			background:#cccccc;
			margin-left:22px;
			padding: 10px;
			}


	.loading
		{
		display:none;
		padding-top:1em;
		text-align:center;
		color:#666666;
		}

.listOfPossiblePageUrls
	{
	list-style:none;
	margin:0px;
	padding:0px;
	}

	.listOfPossiblePageUrls label
		{
		display:block;
		margin:1px;
		padding:3px;
		-moz-border-radius:5px;
		font-size:small;
		}

		.listOfPossiblePageUrls label:hover
			{
			background: #cccccc;
			}



h2.chosenPageOrder
	{
	margin-bottom: 10px;
	padding-bottom: 5px;
	}


ol.chosenPageOrder
	{
	margin-top:0px;
	padding-top:0px;
	color: #666666;
	font-size:x-small;
	}


#generator {background:#eeeeee;width:19em;margin:30px 0px 20px;border:solid 2px #dddddd; -moz-border-radius:10px;}
#generator legend {padding:5px 10px;background:#eeeeee;font-weight:bold;color:#666666; -moz-border-radius:10px;}
#generator fieldset {border:none;background:#dddddd;margin-top:10px; -moz-border-radius:5px;}
#generator fieldset legend {font-weight:bold;font-size:small;padding:0 10px;background:#dddddd; -moz-border-radius:5px;}

